.row {
    margin-top: 18px;
  }

  .column {
    float: left;
    width: 98%;
    margin-bottom: 25px;
    padding: 0 1%;
  }
  
  .card {
    box-shadow: 0 4px 8px 0.5px lightslategray;
    margin: 8px;
  }
  
  .about-section {
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px;
    width: 80%;
    border-radius: 75px;
    background-color: #6DB966;
  }

  .heading1 {
      color: white;
      font-size: 30px;
      font-family: 'Times New Roman', Times, serif;
      padding-top: 8px;
      text-align: center;
  }

  .heading2 {
    color: black;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 8px;
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }