<div class="about-section">
    <h1 class="heading1">Contact Page</h1>
</div>

<div class="row">
  <div class="column">
    <div class="card">
      <!-- <img src=".jpg" alt="Aditya" style="width:100%"> -->
        <div class="container">
          <h2 class="heading2">Aditya Badola</h2>
          <p class="title">190050006</p>
          <p class="title">badolaji@cse.iitb.ac.in</p>
        </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <!-- <img src=".jpg" alt="Akshay" style="width:100%"> -->
        <div class="container">
          <h2 class="heading2">Akshay Kumar Chaurasia</h2>
          <p class="title">190050011</p>
          <p class="title">akshaykr@cse.iitb.ac.in</p>
        </div>
    </div>
  </div>
</div>