.about-section {
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px;
    width: 80%;
    border-radius: 75px;
    background-color: #6DB966;
  }

  .heading1 {
      color: white;
      font-size: 30px;
      font-family: 'Times New Roman', Times, serif;
      padding-top: 8px;
      text-align: center;
  }

  .button {
    border: none;
    border-radius: 3px;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 7.5%;
    margin-right: 7.5%;
    width: 200px;
  }
  
  .button:hover {
    background-color: #555;
  }

  .one {
      margin-left: 5%;
      margin-right: 1%;
  }

  .two {
      margin-top: 1%;
      margin-bottom: 1%;
  }

  .three {
      margin-top: 40px;
      margin-left: 20px;
      font-size: medium;
      font-weight: 500;
      font-family: Courier;
  }

  .four {
      margin-left: 2px;
      margin-right: 10px;
  }

  .textarea1 {
      height: 100px;
      width: 60%;
  }