.heading {
    padding-top: 15px;
    padding-bottom: 1px;
    text-align: center;
    background: green;
    color: white;
    font-family: courier;
    font-weight: bold;
    font-size: 25px;
  }